#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tab {
  display: inline-block;
  margin-left: 75px;
}

ul{
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background: #1d1f1d;
  margin: 20px 30px;
  padding: 12px 24px;
  border-radius: 8px;
  display: flex;
  gap: 18px;
  align-items: center;
}