#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tab {
  display: inline-block;
  margin-left: 75px;
}

ul{
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.sidenav {
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: lightblue;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whole-page {
  text-align: center;
}